<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.diversite.mapper.address.AddressMapper">

    <insert id="insertAddress" useGeneratedKeys="true" keyProperty="id"  keyColumn="id">
        INSERT INTO address (address, userid)
        VALUES (#{address}, #{userid})
        RETURNING id
    </insert>

    <select id="getAddressById" resultType="com.diversite.entity.address.AddressEntity">
        SELECT * FROM address WHERE id = #{id}
    </select>

    <select id="getAllAddresses" resultType="com.diversite.entity.address.AddressEntity">
        SELECT * FROM public.address
    </select>

    <update id="updateAddress">
        UPDATE public.address
        SET address = #{address}, userid = #{userid}
        WHERE id = #{id}
    </update>

    <delete id="deleteAddress">
        DELETE FROM public.address WHERE id = #{id}
    </delete>

</mapper>
